{% extends 'base.html' %}
{% load static %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}


{% block contenido %}
<div class="form-container">
    <h2>Editar Perfil</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn-submit">Guardar</button>
    </form>
</div>
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}
